{% extends "base.html" %}
{% block content %}
<div class="row" id="content-persons">
    <!-- ********************************************************************************
    Le Panneau de Gauche -->
    <div class="col-auto">
        <p>{# Nothing to see here #}</p>
        <div class ="row" id="add-person">
            <h5>Ajouter un Musicien :</h5>
            <div class="col-auto">
                <form action="/api/persons/add" method="post">
                    <div class="row">
                        <div class="col-auto">
                            <input class="form-control form-control-sm"
                                   type="text" name="name"
                                   placeholder="entrer nom et prénom ..."
                            />
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary" type="submit">Ajouter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <p><!-- ajoute un espacement --></p>
        <div class ="row" id="find-person">
            <div class="col-auto">
                <h5>Chercher un Musicien :</h5>
            </div>
            <div class="col-auto">
                <form action="/api/persons/find" method="post">
                    <div class="row">
                        <div class="col-auto">
                            <input class="form-control form-control-sm"
                                   type="text" name="name"
                                   placeholder="Entrer le nom de la personne ..."
                            />
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary" type="submit">Chercher</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <p>{# Nothing to see here #}</p>
        <div class ="container-fluid bg-info" id="flash-messages">
            {% if let Some(some_flash) = flash %}
                {{ some_flash }}
            {% endif %}
        </div>
         <p>{# Nothing to see here #}</p>

        <p>{# Nothing to see here #}</p>
        <div class ="row" id="print-person">
            <div class="col-auto">
                <h5>Imprimer la liste des musiciens :</h5>
            </div>
            <div class="col-auto">
                <a href="/api/persons/print" class="btn btn-primary ">Imprimer</a>
            </div>
        </div>
    </div>
    <!-- ********************************************************************************************************
    Le Panneau de Droite -->
    <div class="col-auto">
        <h4>Liste des Musiciens</h4>
        <div class="container infinite-scroll"
             style="max-height: 500px; overflow-y: scroll;">
            {% for person in persons %}
                <div class="row " id="list_persons" >
                    <!-- une première rengée avec la première form -->
                    <div class="col-auto">
                        <form id ="form_mod" class="form-inline" action="/api/persons/{{ person.id }}" method="post">
                            <!-- une colonne dans la form -->
                            <div class="row">
                                <div class="col-auto">
                                    <input type="hidden" name="_method" value="put" />
                                    <input class="form-control form-control-sm" type="text" name="name" value="{{ person.full_name }}" />
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-sm btn-success" id="btn_modify" type="submit">Modifier</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-auto">
                        <form class="form-inline" id = "form_del" action="/api/persons/delete/{{ person.id }}" method="post">
                            <input type="hidden" name="_method" value="delete" />
                            <button class="btn btn-sm btn-danger" id="btn_delete" type="submit">Effacer</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}