<!DOCTYPE html>
<html lang="en">
{# Must not extend base.html : we won't show the navigation bar #}
{% block head %}
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <link rel="icon" href="/favicon.png" type="image/png">
</head>
{% endblock %}

{% block content %}
<div class = "container-fluid text-center bg-warning">
    <h4 class="text-primary">{{ title }}</h4>
</div>
<p><!--Nothing to see here --></p>
<div class ="container-fluid bg-info" id="flash-messages">
    {% if let Some(some_flash) = flash %}
        {{ some_flash }}
    {% endif %}
</div>
<p><!--Nothing to see here --></p>
<div class="container-md mx-auto" id="signup-form">
    <form action="" method="post">
        <div class ="row">
            <div class="col-2">
                <label>Entrez le nom d'utilisateur:  </label>
            </div>
            <div class="col">
                <input type="text" name="name">
            </div>
        </div>
        <div class ="row">
            <div class="col-2">
                <label>Entrez le mail utilisateur:  </label>
            </div>
            <div class="col">
                <input type="text" name="email">
            </div>
        </div>
        <div class ="row">
            <div class="col-2">
                <label>Entrez le mot de passe : </label>
            </div>
            <div class="col-2">
                <input type="password" name="password">
            </div>
        </div>
        <div class ="row">
            <div class="col-2">
                <label>Confirmez le mot de passe : </label>
            </div>
            <div class="col-2">
                <input type="password" name="confirm_pwd">
            </div>
        </div>
        <div class ="row">
            <div class="col-2">
                <label>Choisissez un rôle : </label>
            </div>
            <div class="col-2">
                <select class="form-select form-select-sm" name="role" id="role_select">
                    <option value="">--Choisir un role--</option>
                    <option value="Administrateur">Administrateur</option>
                    <option value="Utilisateur">Utilisateur</option>
                    <option value="Autre">Autre</option>
                </select>
        </div>
        <div class="row">
            <div class="col-2">
                <button type="submit" class="btn btn-info">Signup</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
